.rank-title{
    width: 80%;
    text-align: center;
    margin-bottom: 1em;
}

.ranking-container{
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 2em;
    transition: 1s ease;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: 1px solid rgb(188, 188, 188);
    background-color: #ffffffeb;



    .ranking-nav{
        background-color: transparent;
    }

    .ranking-grid {
        border-bottom: 1px solid #1f1f70;
        margin-bottom: 1em;
    }


    h2{
        margin-top: 1em;
        font-family: 'Handjet';

    }

    .ranking-grid, .result-grid{
        font-family: 'Handjet';

        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: transparent;

    }

    .ranking-grid-item, .result-grid-item, h2, h3,.rank-title{
        font-family: 'Handjet';

        background-color: transparent;
        font-size: 2vh;

    }

    .result-grid{
        margin-top: 0.8em;   
    }
}

.ranking-action-button{
    padding: 2em;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    button{
        margin-top: 4em;
        
    }
}