.rank-title{
    width: 80%;
    text-align: center;
    margin-bottom: 1em;
}

.ranking-container{
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 2em;
    border: 2px solid #1f1f70;
    box-shadow: rgb(49, 39, 25) 0px 20px 30px -10px;
    background-color: rgb(234, 190, 135);

    .ranking-nav{
        background-color: transparent;
    }

    .ranking-grid {
        border-bottom: 1px solid #1f1f70;
        margin-bottom: 1em;
    }


    h2{
        margin-top: 1em;
    }

    .ranking-grid, .result-grid{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: transparent;

    }

    .ranking-grid-item, .result-grid-item, h2, h3,.rank-title{
        background-color: transparent;

    }

    .result-grid{
        margin-top: 1em;
       
    }
}

.ranking-action-button{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    button{
        margin-top: 4em;
    }
}