
.game-mode{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid #1f1f70;
    padding: 3em;
    border-radius: 2em;
    
    // background-color: rgb(234 190 135);
    // box-shadow: rgb(49, 39, 25) 0px 20px 30px -10px;

    cursor: pointer;

    h1{
        font-family: 'Handjet';
        font-weight: bold;
        font-size: 4vw;
    }

    .nav-link-button{
        font-size: 3vh;
        text-decoration: none;
        color:inherit;
        margin: 1em;
        padding: 0.8em;
        // border: 2px solid #1f1f70;
        border-radius: 1em;
        text-align: center;
        width: 80%;
        transition: all 0.3s ease;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        font-weight: 700;
        background-color: rgb(215, 215, 215);
        font-family: 'Handjet';
        border: 1px solid transparent;
        &:hover{
            background-color: #a06fb0 !important;
            border: 1px solid black;
        }
    }
}




