

.player-form-container{
    border-radius: 2em;
    text-align: center;
    width: 50%;
    border: 2px solid #1f1f70;
    background-color: rgb(234 190 135);
    overflow: hidden;
    box-shadow: rgb(49, 39, 25) 0px 20px 30px -10px;
    

    form{
        background-color: rgb(234 190 135);
        padding: 1em;
        h2{
            padding: 1em;
            background-color: transparent;
        }

        .input-span {
            
            margin: 1em;
            input{
                height: 3vh;
                width: 100%;
            }
        }
    }

    .form-actions{
        background-color: transparent;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       

    }
}


.error-container{
    position: absolute;
    margin: 2em;
    bottom: 0;
    p{
        font-size: 3vh;
        padding: 1em;
        transition: all 1s ease;
    }
}
