
@media (max-width:700px){
    .player-form-container{
        width: 80%;

        .form-actions{
            flex-direction: column-reverse;
            button{
                width: 80%;
            }
        }
       
    }

    .game-rules-container{
        margin: 2em;
        width: auto;
    }

    .game-container{

        .game-header{
            justify-content: center;
            flex-wrap: wrap;
            h1{
                margin-right: 1em;
            }
        }
    }

    .players-container, .turno-container{
        
        h2{
            font-size: 3vh !important;
        }
    }

    .ranking-navbar-container{
        .nav-toggle-button{
            display:block;
        }

        .ranking-navbar{
            display: none;
        }

        .ranking-navbar-collapsed{
            transition: all 1s ease-in;
            button{
                font-size: 2vh !important;

            }
        }
    }

    
}



@media (max-width:550px){

    .tablero-container{
        .tablero-grid {
            .tablero-box{
                width: 7em;
                height: 7em;
            }
        }
    }


    .ranking-navbar-container{
        

        .ranking-navbar-collapsed{
            .ranking-navbar-nav{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }

            
            button{
                font-size: 1.8vh !important;

            }
        }
    }


    .result-grid{
        .result-grid-item{
            h3{
                font-size: 1.5vh;
            }
        }
    }


   
}
