@import 'imports';
  
*{
    background-color: rgb(236, 203, 161);
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    font-size: 4vh;
    background-color: transparent;
}

h2{
    font-size: 2vh;
}

button{
    font-size: 2.5vh;
    margin: 0.5em; 
    padding: 0.3em;
    cursor: pointer;
    border: 2px solid #1f1f70;
    border-radius: 1em;
    text-align: center;
    background-color: rgb(236, 203, 161);
    transition: all 0.3s ease;
    font-weight: 700;

    &:hover{
        background-color: rgb(235, 107, 107);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}